
 <div style='background-color: {{color}}' class="background_card_uwu flex_card_uwu">
 <div class='column1_card_uwu'>
 <h2 class="title_card_uwu"> {{title}} </h2>
 <p class= "description_card_uwu"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna ex, accumsan quis magna non, lacinia maximus erat. Cras condimentum massa vitae lorem dictum tincidunt. Nunc non ornare ligula, eget feugiat nisl. Curabitur eu ante dolor. Morbi tincidunt ipsum vitae accumsan ullamcorper. Pellentesque sed risus ac dui congue porta </p>
 </div>
 <div class='btn_cont_card_uwu'>
 <a href={{url}} class="btn_card_uwu">{{Btntext}} </a>
 <div class='triangulo_card_uwu'></div>
 </div>
 </div>